<html>
<head>
  <title>Your submission was received by the Digital Collections Repository.</title>
</head>
<body>
  
  <style>{{> css}}</style>
  
  <img style="float: right;" alt="UNC Libraries logo" src="https://dcr.lib.unc.edu/static/images/email_logo.png"/>
  <h3>Digital Collections Repository</h3>
  
  <p>Your submission was received by the Digital Collections Repository.</p>
  
  <p>Please do not reply to this message. If you have any questions or concerns about your submission, please  <a href="https://library.unc.edu/wilson/contact/">contact us</a>.</p>
  
  <p>Thank you for contributing to the <a href="{{ siteUrl }}">Digital Collections Repository</a>, a service of the <a href="https://library.unc.edu/">University of North Carolina at Chapel Hill Libraries</a>.</p>
  
  <hr>
  
  {{> items-list-html items=items}}
  
</body>
</html>
